<?xml version="1.0"?>

<!-- 
     # Mon Apr 11 21:34:12 EEST 2016, nickkouk
     Main launch file used during testing.

-->

<launch>
    <!-- LAUNCH ARGUEMENTS -->
    <arg name="rosbag2play" default="wg-cafe"/>
    <arg name="scan_topic" default="/scan"/>
    <arg name="bag_simulation" default="true"/>

    <!-- LAUNCH PARAMETERS -->
    <param name="/use_sim_time" value="true"/>
    <param name="/base_scan" value="$(arg scan_topic)"/>

    <group if="$(arg bag_simulation)" >
        <node pkg="rosbag" type="play" name="rosbag_player" 
        args="--clock $(find isam_slam)/rosbags/$(arg rosbag2play).bag /base_scan:=$(arg scan_topic)" />
    </group>


    <!-- NODES TO LAUNCH -->
    <node name="laser_parser" pkg="isam_slam" type="laser_parser" output="screen"/>
    <node name="isam_node" pkg="isam_slam" type="isam_slam" output="screen"/>

</launch>
